<ion-header collapse="condense">
  <ion-toolbar class="dark-toolbar">
    <!--color="dark"-->
    <ion-title>Social Linker</ion-title>
    <ion-buttons end class="flex">
      <button
        ion-button
        *ngIf="webView"
        (click)="toggleWebview()"
        class="nav-buttons icon-light"
      >
        <ion-icon slot="icon-only" name="lock"></ion-icon>
      </button>
      <button
        ion-button
        *ngIf="!webView"
        (click)="toggleWebview()"
        class="nav-buttons"
      >
        <ion-icon slot="icon-only" name="unlock"></ion-icon>
      </button>
      <button ion-button (click)="toggleEditor()" class="nav-buttons">
        <ion-icon
          slot="icon-only"
          name="create"
          [ngClass]="{'icon-light': edit}"
        ></ion-icon>
      </button>
      <button ion-button (click)="toggleAdd()" class="nav-buttons">
        <ion-icon
          slot="icon-only"
          name="add"
          [ngClass]="{'icon-light': add}"
        ></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="dark">
  <div class="new-input" *ngIf="add" [@inputsFade]>
    <ion-item>
      <ion-input
        required
        type="text"
        [(ngModel)]="newTitle"
        placeholder="Title*"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        required
        type="text"
        [(ngModel)]="newUrl"
        placeholder="Full URL* (https://www.DOMAIN.com)"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        required
        type="text"
        [(ngModel)]="newColor"
        placeholder="Color (CSS)"
      ></ion-input>
    </ion-item>
    <button
      class="done-button"
      ion-button
      (click)="addButton()"
      [disabled]="!newTitle || !newUrl"
    >
      Done
    </button>
  </div>
  <div [@cardAnimation]="buttons.length">
    <div *ngFor="let button of buttons" class="big-buttons">
      <button
        class="big-buttons"
        (click)="buttonClick(button.url)"
        [style.background-color]="button.color"
        [ngClass]="{'align-left': edit}"
      >
        <button
          *ngIf="edit"
          ion-button
          (click)="editItem($event, button)"
          class="edit-buttons"
          [@fadeAnimation]
        >
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </button>
        <button
          *ngIf="edit"
          ion-button
          (click)="trashItem($event, button.title)"
          class="delete-buttons"
          [@fadeAnimation]
        >
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </button>
        <div>
          <p>{{button.title}}</p>
        </div>
      </button>
    </div>
  </div>
</ion-content>
